<a href="https://colab.research.google.com/github/SrividyaSuresh/IntroductionToDataScience/blob/main/DataExploration(2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration
Iris and YPS datasets

## Import libraries

In [1]:
import numpy as np #numerical python (deals with all stuff numbers)
import pandas as pd # panel data

## Load data

In [2]:
iris = pd.read_csv("Iris.csv") #xlsx csv /content/Iris.csv

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            NaN           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [5]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
iris.shape #(rows, columns)

(150, 6)

In [7]:
150*6

900

In [8]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [9]:
len(iris.columns)

6

In [10]:
iris.index # range(0,150,1)

RangeIndex(start=0, stop=150, step=1)

In [11]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  148 non-null    float64
 2   SepalWidthCm   147 non-null    float64
 3   PetalLengthCm  148 non-null    float64
 4   PetalWidthCm   149 non-null    float64
 5   Species        146 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [12]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     148.000000    147.000000     148.000000    149.000000
mean    75.500000       5.846622      3.056463       3.774324      1.193289
std     43.445368       0.821349      0.436999       1.764661      0.762877
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.400000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [21]:
6.9/1

1.8372093023255816

In [19]:
iris['SepalLengthCm'].sum()/len(~iris['SepalLengthCm'].isnull())

5.768666666666666

In [23]:
iris['Species'] #dict['key']=value

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [27]:
iris['Species'][15]

'Iris-setosa'

In [29]:
iris.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [32]:
iris.iloc[0,1] #.iloc[row, column]

5.1

In [34]:
iris['Species'].value_counts()

Iris-setosa        49
Iris-virginica     49
Iris-versicolor    48
Name: Species, dtype: int64

In [36]:
iris.isnull().sum()

Id               0
SepalLengthCm    2
SepalWidthCm     3
PetalLengthCm    2
PetalWidthCm     1
Species          4
dtype: int64

In [37]:
iris_dropped = iris.dropna(axis=0, how='any') # how='all' (drop only if all cols on row are null), 'any' (drop if even 1 col of row is null)

In [38]:
iris_dropped.shape

(139, 6)

In [39]:
iris_dropped.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [43]:
sepallen_avg = iris['SepalLengthCm'].mean()
print(sepallen_avg)

5.846621621621622

In [45]:
s = 'sr'
s = s+'i'
print(s)

sri

In [41]:
iris['SepalLengthCm'] = iris['SepalLengthCm'].fillna(5.86)

In [42]:
iris['SepalWidthCm'].fillna(iris['SepalWidthCm'].mean(), inplace=True)

In [52]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     1
Species          0
dtype: int64

In [49]:
iris['Species'].mode()[0]

'Iris-setosa'

In [51]:
iris['Species'].fillna(iris['Species'].mode()[0], inplace=True)