<a href="https://colab.research.google.com/github/SrividyaSuresh/IntroductionToDataScience/blob/main/DataExploration(2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration
Iris and YPS datasets

## Import libraries

In [ ]:
import numpy as np #numerical python (deals with all stuff numbers)
import pandas as pd # panel data

## Load data

In [ ]:
iris = pd.read_csv("Iris.csv") #xlsx csv /content/Iris.csv

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            NaN           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            NaN           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [ ]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris.shape #(rows, columns)

(150, 6)

In [ ]:
150*6

900

In [ ]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
len(iris.columns)

6

In [ ]:
iris.index # range(0,150,1)

RangeIndex(start=0, stop=150, step=1)

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  148 non-null    float64
 2   SepalWidthCm   147 non-null    float64
 3   PetalLengthCm  148 non-null    float64
 4   PetalWidthCm   149 non-null    float64
 5   Species        146 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     148.000000    147.000000     148.000000    149.000000
mean    75.500000       5.846622      3.056463       3.774324      1.193289
std     43.445368       0.821349      0.436999       1.764661      0.762877
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.400000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
6.9/1

1.8372093023255816

In [ ]:
iris['SepalLengthCm'].sum()/len(~iris['SepalLengthCm'].isnull())

5.768666666666666

In [ ]:
iris['Species'] #dict['key']=value

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [ ]:
iris['Species'][15]

'Iris-setosa'

In [ ]:
iris.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [ ]:
iris.iloc[0,1] #.iloc[row, column]

5.1

In [ ]:
iris['Species'].value_counts()

Iris-setosa        49
Iris-virginica     49
Iris-versicolor    48
Name: Species, dtype: int64

In [ ]:
iris.isnull().sum()

Id               0
SepalLengthCm    2
SepalWidthCm     3
PetalLengthCm    2
PetalWidthCm     1
Species          4
dtype: int64

In [ ]:
iris_dropped = iris.dropna(axis=0, how='any') # how='all' (drop only if all cols on row are null), 'any' (drop if even 1 col of row is null)

In [ ]:
iris_dropped.shape

(139, 6)

In [ ]:
iris_dropped.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
sepallen_avg = iris['SepalLengthCm'].mean()
print(sepallen_avg)

5.846621621621622

In [ ]:
s = 'sr'
s = s+'i'
print(s)

sri

In [ ]:
iris['SepalLengthCm'] = iris['SepalLengthCm'].fillna(5.86)

In [ ]:
iris['SepalWidthCm'].fillna(iris['SepalWidthCm'].mean(), inplace=True)

In [ ]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    2
PetalWidthCm     1
Species          0
dtype: int64

In [ ]:
iris['Species'].mode()[0]

'Iris-setosa'

In [ ]:
iris['Species'].fillna(iris['Species'].mode()[0], inplace=True)

## YPS Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
yps = pd.read_csv('yps_data_condensed.csv')

In [3]:
yps.head()

,Age,Height,Weight,Number of siblings,Gender,Education,Only child,Village - town,House - block of flats
0,20.0,163,48.0,1.0,female,college/bachelor degree,no,village,block of flats
1,19.0,163,58.0,2.0,female,college/bachelor degree,no,city,block of flats
2,20.0,176,67.0,2.0,female,secondary school,no,city,block of flats
3,22.0,172,59.0,1.0,female,college/bachelor degree,yes,city,house/bungalow
4,20.0,170,59.0,1.0,female,secondary school,no,village,house/bungalow

In [5]:
yps.shape

(1010, 9)

In [4]:
yps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     1002 non-null   float64
 1   Height                  986 non-null    object
 2   Weight                  989 non-null    float64
 3   Number of siblings      1000 non-null   float64
 4   Gender                  1001 non-null   object
 5   Education               1005 non-null   object
 6   Only child              1006 non-null   object
 7   Village - town          1005 non-null   object
 8   House - block of flats  998 non-null    object
dtypes: float64(3), object(6)
memory usage: 71.1+ KB

In [12]:
yps.describe()

               Age      Weight  Number of siblings
count  1002.000000  989.000000         1000.000000
mean     20.436128   66.411527            1.299000
std       2.829206   13.845062            1.015199
min      15.000000   41.000000            0.000000
25%      19.000000   55.000000            1.000000
50%      20.000000   64.000000            1.000000
75%      22.000000   75.000000            2.000000
max      30.000000  165.000000           10.000000

In [10]:
yps['Number of siblings'][yps['Number of siblings']>10] = 1 # Filter dataset and change values

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
yps['Number of siblings'][yps['Number of siblings']>10]

Series([], Name: Number of siblings, dtype: float64)

In [13]:
yps.isnull().sum()

Age                        8
Height                    24
Weight                    21
Number of siblings        10
Gender                     9
Education                  5
Only child                 4
Village - town             5
House - block of flats    12
dtype: int64

In [14]:
yps['Age'] = yps['Age'].fillna(20)

In [16]:
yps['Height'].value_counts()

170    85
168    62
175    56
165    54
180    53
178    43
185    43
173    41
172    38
163    34
167    29
160    27
164    23
183    23
182    22
176    22
171    21
162    20
174    19
187    19
184    19
169    18
166    18
177    18
190    17
186    16
158    15
189    15
188    13
179    13
161    10
181     9
157     9
192     9
193     8
159     5
155     5
156     5
195     4
?       4
194     4
200     3
153     3
154     3
191     2
197     2
203     2
148     1
152     1
62      1
Name: Height, dtype: int64

In [30]:
yps['Height'][yps['Height']=='?']=np.NAN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

???? Height

In [39]:
yps['Height']

0       163
1       163
2       176
3       172
4       170
       ...
1005    164
1006    183
1007    173
1008    173
1009    185
Name: Height, Length: 1010, dtype: object

In [43]:
yps['Number of siblings'].fillna(yps['Number of siblings'].median(), inplace=True)

In [45]:
yps['Gender'].describe()

count       1001
unique         2
top       female
freq         592
Name: Gender, dtype: object

In [46]:
yps['Gender'].value_counts()

female    592
male      409
Name: Gender, dtype: int64

In [55]:
yps['Gender'].mode()[0]

'female'

In [53]:
yps['Gender'].fillna(yps['Gender'].mode()[0], inplace=True)

In [54]:
yps['Gender'].value_counts()

female    601
male      409
Name: Gender, dtype: int64

In [61]:
yps.dropna(axis=0, inplace = True)

In [62]:
yps.isnull().sum()

Age                       0
Height                    0
Weight                    0
Number of siblings        0
Gender                    0
Education                 0
Only child                0
Village - town            0
House - block of flats    0
dtype: int64

In [63]:
yps.shape

(946, 9)

In [57]:
yps['Number of siblings'] = yps['Number of siblings'].astype('int')

In [58]:
yps.tail()

,Age,Height,Weight,Number of siblings,Gender,Education,Only child,Village - town,House - block of flats
1005,20.0,164,57.0,1,female,secondary school,no,city,house/bungalow
1006,27.0,183,80.0,5,male,masters degree,no,village,house/bungalow
1007,18.0,173,75.0,0,female,secondary school,yes,city,block of flats
1008,25.0,173,58.0,1,female,college/bachelor degree,no,city,block of flats
1009,21.0,185,72.0,1,male,NaN,no,village,house/bungalow

In [60]:
yps.columns

Index(['Age', 'Height', 'Weight', 'Number of siblings', 'Gender', 'Education',
       'Only child', 'Village - town', 'House - block of flats'],
      dtype='object')

In [65]:
yps.rename(columns={'Number of siblings':'Siblings', 'House - block of flats':'House or Flats'}, inplace=True)

In [66]:
yps.columns

Index(['Age', 'Height', 'Weight', 'Siblings', 'Gender', 'Education',
       'Only child', 'Village - town', 'House or Flats'],
      dtype='object')

In [67]:
yps['Only child'][yps['Only child']=='no'] = False
yps['Only child'][yps['Only child']=='yes'] = True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
yps['Only child'].value_counts()

False    711
True     235
Name: Only child, dtype: int64

## Visualisation